---
const netlifyContext = Astro.locals.netlify.context;
const geo = netlifyContext.geo;

const person = Astro.locals.person;

Astro.response.headers.set("Content-Type", "text/html");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Antlur</title>
  </head>
  <body>
    <h1>Antlur</h1>
    <p>Geo: ${JSON.stringify(geo)}</p>
    <p>Person: ${JSON.stringify(person)}</p>
  </body>
</html>
